includeConfig "${projectDir}/conf/aws_credentials.config"

params {
    aws {
        root = "s3://largedonor"
    }
    // inputs should be one of
    // "${params.aws.root}/symsim_new.h5ad"
    // "${params.aws.root}/scvi_pbmcs.h5ad"
    // "${params.aws.root}/nucleus.h5ad"
    // "${params.aws.root}/eQTL.h5ad"
    // "${params.aws.root}/sciplex.h5ad"
    // "${params.aws.root}/symsim_new.h5ad",
    // "${params.aws.root}/pbmcs68k.h5ad",
    // "${params.aws.root}/haniffa.h5ad",
    // "${params.aws.root}/haniffasubset.h5ad",
    // "${params.aws.root}/tfatlasall.h5ad"
    inputs = [
        // "${params.aws.root}/nucleus.h5ad",
        // "${params.aws.root}/pbmcs68k.h5ad",
        // "${params.aws.root}/pbmcs68k_for_subsample.h5ad",
        "${params.aws.root}/haniffa2.h5ad",
        // "${params.aws.root}/haniffasubset.h5ad",
        // "${params.aws.root}/tfatlasall.h5ad"
    ]
    runAllModels = false
    runAllMRVIModels = false
    runMILO = false
    computeMetrics = false
}
